/* @tailwind base;
@tailwind components;
@tailwind utilities; */



.background-image{
    background-image: url("./assets/img1.avif");
    background-repeat: no-repeat;
    min-height: 100%;
    /* width: 100%; */
    background-position: center;
    background-size: cover;

}